# Example config for ec2-cluster module

ec2_cluster_config:
  enabled: true
  master_count: 1
  worker_count: 2
  ami: "ami-0360c520857e3138f"
  master_instance_type: "t3.medium"
  worker_instance_type: "t3.medium"
  key_name: "k8s-pipeline-key"
  subnet_id: "subnet-xxxx"
  vpc_security_group_ids:
    - "sg-xxxx"
  iam_instance_profile: "ultimate-cicd-devops-profile"
  master_user_data: "${file(../scripts/jenkins-k8s-master-setup.sh)}"
  worker_user_data: "${file(../scripts/k8s-worker-setup.sh)}"
  tags:
    Project: "ultimate-cicd-devops"
    Environment: "dev"
